# Entorno virtual
env/
venv/
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Archivos estáticos recopilados
/staticfiles/

# Archivos de configuración local
/local_settings.py
.env

# Archivos de migraciones
*/migrations/*
!*/migrations/__init__.py

# Archivos de log
*.log

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
