{% extends 'users/base_user.html' %}
{% load static %}

{% block content %}
  <body style="background-image: url('{% static 'images/backgrounds/background.webp' %}'); background-size: cover;">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="card border-0 shadow-sm rounded p-3">
          <div class="card-body text-center">
            <img src="{% static 'images/logoflippingnegro.png' %}" alt="Imagen de inicio de sesión" class="img-fluid mb-3" style="width: 50%;">
            <h3 class="mb-3"><b>INICIAR SESIÓN</b></h3>
            <form method="post">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" required>
                <label for="username">Nombre de usuario</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                <label for="password">Contraseña</label>
              </div>
              <button type="submit" class="btn btn-success w-100 py-2">Iniciar Sesión</button>
              {% if messages %}
              <div class="container mt-3">
                {% for message in messages %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
    <style>
      .main-content {
        padding: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
      }
      .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    </style>
  </body>
{% endblock %}
