<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>
    {% if request.resolver_match.namespace == 'finanzas' %}
        <li class="nav-item d-flex align-items-left ms-4">
            <span class="text-success small me-2">Cotización Dólar:</span>  <!-- Mostrar el último precio -->
            <form method="post" action="{% url 'finanzas:actualizar_cotizacion' %}" class="form-inline d-flex">
                {% csrf_token %}
                <input type="number" name="valor_cotizacion" value="{{ cotizacion_actual }}" class="form-control form-control-sm me-2" required style="width: 80px;" readonly>
                <button type="button" class="btn btn-sm btn-orange me-2" id="edit-button">
                    <i class="fas fa-pencil-alt"></i>  <!-- Ícono de lápiz para editar -->
                </button>
                <button type="submit" class="btn btn-sm btn-success" id="submit-button" style="display: none;">
                    Actualizar
                </button>
            </form>
        </li>
    {% endif %}
    
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav me-auto">
        </ul>
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    <img src="https://flipp.vendomiauto.com/static/favicon.ico" class="avatar img-fluid rounded me-1" alt="Usuario" /> <span class="text-dark">{{ request.user.nombre }} </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href= "{% url 'perfil' %}"><i class="align-middle me-1" data-feather="user"></i> Perfil</a>
                    <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Análisis</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="settings"></i> Configuración</a>
                    <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Ayuda</a>
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Cerrar sesión</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>