/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Container Adjustments */
.tablamovimientos {
    margin-top: 0;
}
.container-fluid {
    padding: 1.5rem;
}

/* Table Styles */
.table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    background-color: #ffffff;
}


.table th, .table td {
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle; /* Alinear verticalmente al centro */
    text-overflow: ellipsis; /* Añadir puntos suspensivos si el contenido es demasiado largo */
    white-space: normal; /* Permitir que el contenido se divida en varias líneas si es necesario */
    background-color: #ffffff; /* Fondo blanco para todas las celdas */
    height: 50px; /* Asegurar que todas las celdas tengan la misma altura mínima */
    border: 1px solid #e0e0e0; /* Bordes grises claros */
}

/* Ajustes para Columnas Específicas */
.table th,
.table td {
    word-wrap: break-word; /* Romper palabras largas para evitar desbordamiento */
}

/* Estilo para el contenedor del estado */
.estado-label, .tipo-label {
    padding: 1vh 1vh; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    font-size: 11px; /* Tamaño de fuente adecuado */
    font-weight: bold; /* Texto en negrita */
    color: #fff; /* Texto blanco para resaltar */
    margin: 0;
    text-align: left;
    width: 95px; /* Ancho fijo para asegurar que todos sean iguales */
    height: 30px; /* Altura fija para asegurar que todos sean iguales */
}

/* Estilo para el estado confirmado */
.estado-label.confirmado {
    background-color: #2ebb4f; /* Verde para confirmado */
}

/* Estilo para el estado pendiente */
.estado-label.pendiente {
    background-color: #ffc107; /* Amarillo para pendiente */
}

/* Estilo para el tipo ingreso */
.tipo-label.ingreso {
    background-color: #2cb44c; /* Verde para ingreso */
}

/* Estilo para el tipo salida */
.tipo-label.salida {
    background-color: #dc3545; /* Rojo para salida */
}


/* Botones de Acción */
.btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    text-align: center;
}

.btn-warning {
    background-color: #ffc107;
    color: #ffffff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
}

.btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
}

/* Estilo para los íconos de filtro */
.filter-icon {
    font-size: 0.85rem; /* Ajuste del tamaño del ícono */
    margin-left: 0.3rem; /* Espacio entre el texto del encabezado y el ícono */
    color: #6c757d; /* Color gris para el ícono */
    cursor: pointer; /* Cursor en forma de mano para indicar interactividad */
}

/* Efecto hover para los íconos de filtro */
.filter-icon:hover {
    color: #007bff; /* Cambiar a azul al pasar el ratón para indicar que es clickeable */
    transition: color 0.2s ease-in-out; /* Suavizar el cambio de color */
}

/* Responsive Styles */
@media (max-width: 1280px) {
    .table {
        font-size: 0.75rem; /* Reducir tamaño de fuente en resoluciones más pequeñas */
    }

    .table th, .table td {
        padding: 0.3rem; /* Reducir el padding para aprovechar mejor el espacio */
    }

    .btn {
        padding: 0.2rem 0.3rem; /* Botones más pequeños en pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto; /* Permitir scroll horizontal solo en dispositivos pequeños */
    }

    .table {
        font-size: 0.7rem; /* Reducir más el tamaño de fuente en dispositivos pequeños */
    }

    .btn {
        padding: 0.2rem 0.3rem; /* Botones más pequeños para pantallas pequeñas */
    }
}

/* Card Styles */
.card {
    margin-bottom: 2.2vh; /* Añadir margen alrededor de cada card */
}
