{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Crear Nuevo Medio de Pago</h2>
        <!-- Formulario para agregar nuevo medio de pago -->
        <form method="post" action="{% url 'finanzas:crear_mediodepago' %}" class="mb-4 mx-auto" style="max-width: 500px;">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre del Nuevo Medio de Pago</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="moneda" class="form-label">Moneda</label>
                <select class="form-select" id="moneda" name="moneda" required>
                    <option value="" disabled selected>Seleccione una moneda</option>
                    {% for opcion_moneda in form.fields.moneda.choices %}
                        {% if opcion_moneda.0 != "" %}  <!-- Asegúrate de que no sea una opción vacía -->
                            <option value="{{ opcion_moneda.0 }}" {% if form.moneda.value == opcion_moneda.0 %}selected{% endif %}>
                                {{ opcion_moneda.1 }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Agregar Medio de Pago</button>
            </div>
        </form>

        <h3 class="text-center mb-4">Medios de Pago Existentes</h3>
        <div class="d-flex justify-content-center">
            <ul class="list-group" style="max-width: 600px; width: 100%;">
                {% for medio in medios_pago %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ medio.nombre }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
