{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Categoría</title>
    <link href="{% static 'css/finanzas.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center mb-4">Crear Nueva Categoría</h2>
        <!-- Formulario para agregar nueva categoría -->
        <form method="post" action="{% url 'finanzas:crear_categoria' %}" class="mb-4 mx-auto" style="max-width: 500px;">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nueva_categoria" class="form-label">Nombre de la Nueva Categoría</label>
                <input type="text" class="form-control" id="nueva_categoria" name="nueva_categoria" required>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="requiere_patente" name="requiere_patente">
                <label for="requiere_patente" class="form-check-label">Requiere Patente</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Agregar Categoría</button>
            </div>
        </form>

        <h3 class="text-center mb-4">Categorías Existentes</h3>
        <div class="d-flex justify-content-center">
            <ul class="list-group" style="max-width: 600px; width: 100%;">
                {% for categoria in categorias %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ categoria.nombre }}</span>
                        <form method="post" action="{% url 'finanzas:eliminar_categoria' categoria.id %}" class="ms-2" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta categoría?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
{% endblock %}
