{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Movimiento</title>
    <link href="{% static 'css/finanzas.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Detalle del Movimiento</h2>
        <div class="card p-4 shadow-sm">
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Fecha:</strong> {{ movimiento.fecha|date:"j/n/Y" }}</p>
                    <p><strong>Tipo:</strong> <span class="tipo-label {{ movimiento.tipo|lower }}">{{ movimiento.tipo }}</span></p>
                    <p><strong>Categoría:</strong> {{ movimiento.categoria.nombre }}</p>
                    <p><strong>Detalles:</strong> {{ movimiento.detalles }}</p>
                    <p><strong>Monto:</strong> {{ movimiento.monto }}</p>
                    <p><strong>Moneda:</strong> {{ movimiento.moneda }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Comentario:</strong> {{ movimiento.comentario }}</p>
                    <p><strong>Patente:</strong> {{ movimiento.patente }}</p>
                    <p><strong>Medio de Pago:</strong> {{ movimiento.medio_pago.nombre }}</p>
                    <p><strong>Número de Comprobante:</strong> {{ movimiento.numero_comprobante }}</p>
                    <p><strong>Estado:</strong> <span class="estado-label {{ movimiento.estado|lower }}">{{ movimiento.estado }}</span></p>
                </div>
            </div>
            {% if movimiento.documento_adjunto %}
            <div class="mb-3">
                <p><strong>Documento Adjunto:</strong></p>
                <a href="{{ movimiento.documento_adjunto.url }}" class="btn btn-outline-primary" target="_blank">Ver Documento</a>
            </div>
            {% endif %}

        </div>
    </div>
</body>
{% endblock %}
