{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Movimiento</title>
    <link href="{% static 'css/finanzas.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Detalle del Movimiento</h2>
        <div class="card p-4 shadow-sm detalle-movimiento-card" id="movimiento-detalle">
            <div class="row mb-3">
                <!-- Primera columna de información -->
                <div class="col-md-6 detalle-col">
                    <p><strong>Fecha:</strong> <span class="detalle-info">{{ movimiento.fecha|date:"j/n/Y" }}</span></p>
                    <p><strong>Tipo:</strong> <span class="tipo-label {{ movimiento.tipo|lower }}">{{ movimiento.tipo }}</span></p>
                    <p><strong>Categoría:</strong> <span class="detalle-info">{{ movimiento.categoria.nombre }}</span></p>
                    <p><strong>Detalles:</strong> <span class="detalle-info">{{ movimiento.detalles }}</span></p>
                    <p><strong>Monto:</strong> <span class="detalle-info">{{ movimiento.monto }}</span></p>
                    <p><strong>Moneda:</strong> <span class="detalle-info">{{ movimiento.moneda }}</span></p>
                    {% if movimiento.moneda == 'USD' %}
                    <p><strong>Precio en Pesos:</strong> <span class="detalle-info">{{ movimiento.precio_peso }}</span></p>
                    {% elif movimiento.moneda == 'PESOS' %}
                    <p><strong>Precio en Dólares:</strong> <span class="detalle-info">{{ movimiento.precio_dolar }}</span></p>
                    {% endif %}
                </div>
                <!-- Segunda columna de información -->
                <div class="col-md-6 detalle-col">
                    <p><strong>Comentario:</strong> <span class="detalle-info">{{ movimiento.comentario }}</span></p>
                    <p><strong>Patente:</strong> <span class="detalle-info">{{ movimiento.patente }}</span></p>
                    <p><strong>Medio de Pago:</strong> <span class="detalle-info">{{ movimiento.medio_pago.nombre }}</span></p>
                    <p><strong>Número de Comprobante:</strong> <span class="detalle-info">{{ movimiento.numero_comprobante }}</span></p>
                    {% if movimiento.documento_adjunto %}
                    <div class="mb-3">
                        <p><strong>Documento Adjunto:</strong></p>
                        <a href="{{ movimiento.documento_adjunto.url }}" class="btn btn-outline-primary" target="_blank">Ver Documento</a>
                    </div>
                    {% endif %}
                    {% if movimiento.documentos_adjuntos.exists %}
                    <div class="mb-3">
                        <p><strong>Documentos Adjuntos:</strong></p>
                        {% for documento in movimiento.documentos_adjuntos.all %}
                        <a href="{{ documento.archivo.url }}" class="btn btn-outline-primary mb-1" target="_blank">Ver Documento {{ forloop.counter }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="text-center">
                <button id="download-pdf" class="btn btn-primary btn-sm">Descargar PDF</button>
                {{ edit_1 }}
                <a id="editar_movimiento" href="{% url 'finanzas:editar_movimiento' movimiento.id %}" class="btn btn-success btn-sm mx-1">Editar Movimiento <i class="fas fa-pencil-alt"></i></a>
                {{ edit_2 }}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script>
        document.getElementById('download-pdf').addEventListener('click', function() {
            const element = document.getElementById('movimiento-detalle');
            const downloadButton = document.getElementById('download-pdf');
            const editButton = document.getElementById('editar_movimiento'); // Asegúrate de que el ID sea correcto
    
            // Añadir clase para ocultar botones
            if (editButton) editButton.classList.add('d-none');
            downloadButton.classList.add('d-none');
    
            html2pdf()
                .from(element)
                .set({
                    margin: 1,
                    filename: 'comprobante_pago.pdf',
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                })
                .save()
                .then(() => {
                    // Remover clase para mostrar los botones nuevamente
                    if (editButton) editButton.classList.remove('d-none');
                    downloadButton.classList.remove('d-none');
                });
        });
    </script>
</body>
{% endblock %}
