<!-- finanzas/templates/finanzas/home.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="{% static 'css/finanzas.css' %}" rel="stylesheet">
    <!-- FontAwesome para los íconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="row mb-2 mb-xl-3 align-items-center g-0">
        <div class="fechashome col-12 col-md-auto d-flex align-items-center justify-content-between flex-wrap mb-3">
            <!-- Formulario de Fechas -->
            <form method="GET" action="{% url 'finanzas:home' %}" class="d-flex flex-column flex-sm-row align-items-center gap-2 w-100">
                <div class="d-flex flex-row align-items-center gap-2">
                    <div class="d-flex flex-column">
                        <label for="start_date" class="form-label" style="font-size: 0.85rem;">Desde:</label>
                        <input type="date" id="start_date" name="start_date" class="form-control" style="height: 30px;" value="{{ start_date }}">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="end_date" class="form-label" style="font-size: 0.85rem;">Hasta:</label>
                        <input type="date" id="end_date" name="end_date" class="form-control" style="height: 30px;" value="{{ end_date }}">
                    </div>
                </div>
                <div class="mt-auto">
                    <button type="submit" class="btn btn-sm btn-primary">Aplicar Filtro</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-auto ms-md-auto text-center text-md-end">
            <!-- Grupo de Botones para pantallas grandes -->
            <div class="btn-group d-none d-md-flex">
                <a href="{% url 'finanzas:lista_movimientos' %}" class="btn btn-primary btn-sm">Lista de Movimientos</a>
                <a href="{% url 'finanzas:crear_categoria' %}" class="btn btn-white-custom btn-sm">Crear Categoría</a>
                <a href="{% url 'finanzas:crear_movimiento' %}" class="btn btn-white-custom btn-sm">Crear Movimiento</a>
                <a href="{% url 'finanzas:crear_mediodepago' %}" class="btn btn-white-custom btn-sm">Crear Medio de Pago</a>
            </div>
            <!-- Dropdown de acciones para pantallas pequeñas -->
            <div class="d-md-none mt-3">
                <div class="btn-group w-50">
                    <button class="btn btn-primary btn-sm dropdown-toggle btn-acciones-mobile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Acciones
                    </button>
                    <ul class="dropdown-menu w-100">
                        <li><a class="dropdown-item" href="{% url 'finanzas:lista_movimientos' %}">Lista de Movimientos</a></li>
                        <li><a class="dropdown-item" href="{% url 'finanzas:crear_categoria' %}">Crear Categoría</a></li>
                        <li><a class="dropdown-item" href="{% url 'finanzas:crear_movimiento' %}">Crear Movimiento</a></li>
                        <li><a class="dropdown-item" href="{% url 'finanzas:crear_mediodepago' %}">Crear Medio de Pago</a></li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
    
    <div class="row">
        <!-- Sección de Tarjetas Principales -->
        <div class="col-xl-6 col-xxl-5 d-flex flex-column">
            <div class="w-100 d-flex flex-grow-1">
                <div class="row justify-content-center flex-grow-1">
                    <!-- Tarjeta de Ingresos en Pesos -->
                    <div class="col-sm-6 mb-3 d-flex justify-content-center carta-home">
                        <div class="card carta-especial flex-fill">
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5>Ingresos en Pesos</h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="stat-icon rounded-icon bg-success">
                                            <i class="fas fa-arrow-up text-white"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" style="font-size: xx-large;">{{ total_ingresos_pesos }}</h1>
                                <div class="mb-0">
                                    <span class="text-muted" style="white-space: pre-line;">{{ ingresos_pesos_label }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta de Salidas en Pesos -->
                    <div class="col-sm-6 mb-3 d-flex justify-content-center carta-home">
                        <div class="card carta-especial flex-fill">
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5>Salidas en Pesos</h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="stat-icon rounded-icon bg-danger">
                                            <i class="fas fa-arrow-down text-white"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" style="font-size: xx-large;">{{ total_salidas_pesos }}</h1>
                                <div class="mb-0">
                                    <span class="text-muted" style="white-space: pre-line;">{{ salidas_pesos_label }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta de Ingresos en Dólares -->
                    <div class="col-sm-6 mb-3 d-flex justify-content-center carta-home">
                        <div class="card carta-especial flex-fill">
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5>Ingresos en Dólares</h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="stat-icon rounded-icon bg-success">
                                            <i class="fas fa-arrow-up text-white"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" style="font-size: xx-large;">{{ total_ingresos_dolares }}</h1>
                                <div class="mb-0">
                                    <span class="text-muted" style="white-space: pre-line;">{{ ingresos_dolares_label }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta de Salidas en Dólares -->
                    <div class="col-sm-6 mb-3 d-flex justify-content-center carta-home">
                        <div class="card carta-especial flex-fill">
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5>Salidas en Dólares</h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="stat-icon rounded-icon bg-danger">
                                            <i class="fas fa-arrow-down text-white"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" style="font-size: xx-large;">{{ total_salidas_dolares }}</h1>
                                <div class="mb-0">
                                    <span class="text-muted" style="white-space: pre-line;">{{ salidas_dolares_label }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de Últimos Movimientos -->
        <div class="col-xl-6 col-xxl-7 d-flex flex-column">
            <div class="card flex-fill w-90 movimientos-card">
                <div class="card-header">
                    <h5 class="card-title mb-0 text-center">Últimos Movimientos</h5>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                <table class="table table-hover table-bordered my-0 w-100 home-table">
                    <thead class="table-light">
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Categoría</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                            <th>Medio de Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimiento in recent_movements %}
                        <tr>
                            <td>{{ movimiento.fecha|date:"j/n/Y" }}</td>
                            <td><span class="tipo-label {{ movimiento.tipo|lower }}">{{ movimiento.tipo }}</span></td>
                            <td>{{ movimiento.categoria.nombre }}</td>
                            <td>{{ movimiento.monto }}</td>
                            <td>{{ movimiento.get_moneda_display }}</td>
                            <td>{{ movimiento.medio_pago.nombre }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No hay movimientos recientes.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


        <!-- Nueva Sección: Tarjetas por Medio de Pago -->
    <div class="row mt-4 align-items-stretch">
        {% for medio in totales_medio_pago %}
        <div class="col-12 col-sm-6 col-lg-3 mb-3 d-flex align-items-stretch"> <!-- Adaptar a ser igual que mobile -->
            <div class="card payment-info-card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title payment-title">{{ medio.medio_pago }}</h5>
                    <div class="payment-details flex-grow-1">
                        <div class="payment-item">
                            <span class="text-success"><i class="fas fa-arrow-up"></i> Ingresos:</span>
                            <span class="payment-value">{{ medio.ingresos }}</span>
                        </div>
                        <div class="payment-item">
                            <span class="text-danger"><i class="fas fa-arrow-down"></i> Salidas:</span>
                            <span class="payment-value">{{ medio.salidas }}</span>
                        </div>
                        <hr class="flex-grow-0">
                        {% if medio.neto > 0 %}
                        <div class="payment-item text-success">
                            <strong>Total Neto:</strong>
                            <span class="payment-value">{{ medio.neto }}</span>
                        </div>
                        {% elif medio.neto < 0 %}
                        <div class="payment-item text-danger">
                            <strong>Total Neto:</strong>
                            <span class="payment-value">{{ medio.neto }}</span>
                        </div>
                        {% else %}
                        <div class="payment-item text-secondary">
                            <strong>Total Neto:</strong>
                            <span class="payment-value">{{ medio.neto }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mt-3 center-button">
                        <a href="{% url 'finanzas:detalle_medio_pago' medio_pago_id=medio.id %}" class="btn btn-primary btn-fixed">Detalle</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No hay medios de pago disponibles.
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}

