{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Movimientos</title>
    <link href="{% static 'css/finanzas.css' %}" rel="stylesheet">
    <script src="{% static 'js/finanzas.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
</head>
<body>
    <div class="container-fluid mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Botón para exportar a Excel -->
            
            <div class="input-group w-25">
                <input type="text" id="filtroTabla" class="form-control" placeholder="Buscar" onkeyup="filtrarTabla()">
                <button class="btn  " type="button" id="clearButton" onclick="limpiarBusqueda()">
                    <i class="fas fa-times"></i> <!-- Ícono de Bootstrap para "clear" -->
                </button>
                <button class="btn btn-danger" type="button" id="resetFiltersButton" onclick="reiniciarFiltros()">
                    <i class="fas fa-sync-alt"></i> Limpiar Filtros <!-- Ícono de Bootstrap para reiniciar -->
                </button>
            </div>
            <div class="text-end mb-0">
                <button id="exportarExcel" class="btn btn-success" style="width: 150px; height: 4vh;">
                    <i class="fas fa-file-export"></i> Exportar a Excel
                </button>
            </div>
            
        </div>
        

        <div class="table-responsive">
            <table id="tablaMovimientos" class="table table-hover my-0 w-100 custom-table">
                <thead class="table-light">
                    <tr>
                        <th style="width: 7%; position: relative;">
                            Fecha
                            <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroFecha')" style="border: none;" data-column="fecha">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroFecha" class="filter-popup d-none">
                                <input type="date" id="fechaInicio" class="form-control" placeholder="Fecha de inicio">
                                <input type="date" id="fechaFin" class="form-control" placeholder="Fecha de fin">
                                <button class="btn btn-primary mt-2" onclick="filtrarPorRangoFechas()">Buscar</button>
                            </div>
                        </th>
                        <th style="width: 8%; position: relative;">
                            Tipo
                            <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroTipo')" style="border: none;" data-column="tipo">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroTipo" class="filter-popup d-none">
                                <select class="form-control" onchange="filtrarPorColumna('tipo', this.value)">
                                    <option value="">Todos</option>
                                    <option value="ingreso">Ingreso</option>
                                    <option value="salida">Salida</option>
                                </select>
                            </div>
                        </th>
                        <th style="width: 12%; position: relative;">
                            Categoría
                            <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroCategoria')" style="border: none;" data-column="categoria">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroCategoria" class="filter-popup d-none">
                                <select class="form-control" onchange="filtrarPorColumna('categoria', this.value)">
                                    <option value="" style="background-color: #cecece;">Todas</option>
                                    {% for categoria in categorias %}
                                        <option value="{{ categoria.nombre }}" {% if categoria.id == request.GET.categoria %}selected{% endif %}>{{ categoria.nombre }}</option> <!-- Cambiado a categoria.nombre -->
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th style="width: 8%; position: relative;">
                            Monto
                            <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroMonto')" style="border: none;" data-column="monto">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroMonto" class="filter-popup d-none">
                                <input type="number" class="form-control mb-2" id="montoDesde" placeholder="Desde" onkeyup="filtrarPorRangoMonto()">
                                <input type="number" class="form-control" id="montoHasta" placeholder="Hasta" onkeyup="filtrarPorRangoMonto()">
                                <button class="btn btn-primary mt-2" onclick="filtrarPorRangoMonto()">Buscar</button>
                            </div>
                        </th>
                        <th style="width: 8%; position: relative;">
                            Moneda
                            <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroMoneda')" style="border: none;" data-column="moneda">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroMoneda" class="filter-popup d-none">
                                <select class="form-control" onchange="filtrarPorColumna('moneda', this.value)">
                                    <option value="todos">Todos</option>
                                    <option value="USD">USD</option>
                                    <option value="Pesos">Pesos</option>
                                </select>
                            </div>
                        </th>
                        <th style="width: 10%; position: relative;">
                            Patente
                            <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroPatente')" style="border: none;" data-column="patente">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroPatente" class="filter-popup d-none">
                                <input type="text" class="form-control" placeholder="Buscar Patente" onkeyup="filtrarPorColumna('patente', this.value)">
                            </div>
                        </th>
                        <th style="width: 13%; position: relative;">
                            Medio de Pago
                            <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroMedioPago')" data-column="medio_pago">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroMedioPago" class="filter-popup d-none">
                                <select class="form-control" onchange="filtrarPorColumna('medio_pago', this.value)">
                                    <option value="todos">Todos</option>
                                    {% for medio_pago in medios_pago %}
                                        <option value="{{ medio_pago.nombre }}" {% if medio_pago.id == request.GET.medio_pago %}selected{% endif %}>{{ medio_pago.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th style="width: 12%; position: relative;">
                            Comprobante
                            <!-- <button class="btn btn-sm filter-btn" onclick="mostrarFiltroPopup(event, 'filtroComprobante')" style="border: none;" data-column="comprobante">
                                <i class="fas fa-filter text-secondary"></i>
                            </button>
                            <div id="filtroComprobante" class="filter-popup d-none">
                                <input type="text" class="form-control" placeholder="Buscar Comprobante" onkeyup="filtrarPorColumna('comprobante', this.value)">
                            </div> -->
                        </th>
                        <th style="width: 12%;">
                            Acciones
                        </th>
                    </tr>
                </thead>
                
                
                <tbody>
                    {% for movimiento in movimientos %}
                    <tr>
                        <td>{{ movimiento.fecha|date:"j/n/Y"}}</td>
                        <td>
                            <span class="tipo-label {{ movimiento.tipo|lower }}">{{ movimiento.tipo }}</span>
                        </td>                        
                        <td>{{ movimiento.categoria.nombre }}</td>
                        <td>{{ movimiento.monto }}</td>
                        <td>{{ movimiento.moneda }}</td>
                        <td>{{ movimiento.patente|default:"-" }}</td>
                        <td>{{ movimiento.medio_pago.nombre }}</td>
                        <td>{{ movimiento.numero_comprobante|default:"-" }}</td>                 
                        <td class="text-center">
                            <a href="{% url 'finanzas:detalle_movimiento' movimiento.id %}" class="icon-view mx-1 no-underline">
                                <i class="fas fa-eye text-primary"></i>
                            </a>
                            <a href="#" class="icon-edit mx-1"><i class="fas fa-pencil-alt text-black"></i></a>
                            <a href="#" class="icon-delete mx-1"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
{% endblock %}
