{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Movimientos</title>
    <link href="{% static 'css/finanzas.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Lista de Movimientos</h2>
        <table class="table table-striped table-bordered table-borderless my-0">
            <thead class="table-light">
                <tr>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                    <th>Detalles</th>
                    <th>Monto</th>
                    <th>Moneda</th>
                    <th>Comentario</th>
                    <th>Patente</th>
                    <th>Medio de Pago</th>
                    <th>Número de Comprobante</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.fecha }}</td>
                    <td>{{ movimiento.tipo }}</td>
                    <td>{{ movimiento.categoria.nombre }}</td>
                    <td>{{ movimiento.detalles }}</td>
                    <td>{{ movimiento.monto }}</td>
                    <td>{{ movimiento.moneda }}</td>
                    <td>{{ movimiento.comentario }}</td>
                    <td>{{ movimiento.patente }}</td>
                    <td>{{ movimiento.medio_pago.nombre }}</td>
                    <td>{{ movimiento.numero_comprobante }}</td>
                    <td>{{ movimiento.estado }}</td>
                    <td>
                        <a href="" class="btn btn-warning btn-sm">Editar</a>  <!-- Enlace para editar -->
                        <a href="" class="btn btn-danger btn-sm">Eliminar</a> 
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="12" class="text-center">No hay movimientos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}