:root {
    --sidebar-width: 250px;
    --navbar-height: 60px;
    --primary-color: #3b7ddd;
    --text-color: #495057;
    --bg-color: #f5f7fb;
    --sidebar-bg: #222E3C;
    --navbar-bg: #fff;
    --sidebar-text-color: #e9ebef; /* Color de texto para el sidebar */
}

body {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: hidden; /* Esto evita el scroll horizontal */
}

/* Sidebar Styles Mejorados */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    z-index: 1000;
    background: var(--sidebar-bg);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    padding: 1rem; /* Añadir padding para un mejor espaciado interno */
}

.sidebar-brand {
    padding: 1.5rem 1.5rem;
    font-size: 1.25rem; /* Aumentar tamaño de fuente */
    font-weight: bold; /* Negrita para destacar */
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea inferior */
}

.sidebar-item {
    position: relative; /* Para el efecto de hover */
    margin-bottom: 0.5rem; /* Espaciado entre los elementos del sidebar */
    list-style: none; /* Asegúrate de que no haya marcadores */
}

/* Ajustar el margen del primer elemento del sidebar */
.sidebar-item:first-child {
    margin-top: 1rem; /* Añadir margen superior al primer elemento */
}

.sidebar-item.active {
    background: linear-gradient(to right, blue 2%, rgba(255, 255, 255, 0.178) 2%, transparent); /* Fondo degradado de izquierda a derecha azul, blanco y transparente */
    list-style-type: none; /* Eliminar el marcador del elemento activo */
}

.sidebar-item.active .sidebar-link {
    color: #fff; /* Cambiar color de texto para el elemento activo */
}

.sidebar-link {
    display: flex; /* Flex para alinear icono y texto */
    align-items: center; /* Centrar verticalmente */
    padding: 0.75rem 1.5rem; /* Espaciado mejorado */
    color: var(--sidebar-text-color); /* Color de texto para el sidebar */
    text-decoration: none;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out; /* Transiciones suaves */
    border-radius: 0.25rem; /* Bordes redondeados para un mejor aspecto */
    cursor: pointer; /* Cambiar el cursor a puntero */
}

.sidebar-link:hover {
    background: var(--primary-color); /* Fondo al pasar el mouse */
    color: #fff; /* Cambiar color de texto */
}

.sidebar-dropdown {
    padding-left: 1.5rem; /* Indentación para submenús */
}

.arrow {
    margin-left: auto; /* Alinear flecha a la derecha */
    transition: transform 0.2s ease-in-out; /* Transición para la flecha */
    cursor: pointer; /* Cambiar el cursor a puntero */
}

.arrow.rotated {
    transform: rotate(180deg); /* Rotar flecha si está activo */
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: var(--sidebar-width); /* Asegúrate de que no exceda el ancho de la pantalla */
    right: 0;
    height: var(--navbar-height);
    z-index: 900;
    background-color: var(--navbar-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out; /* Añadir transición para el ancho */
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: calc(100% - var(--sidebar-width)); /* Ajustar el ancho para evitar el desbordamiento */
}

.navbar-collapsed {
    left: 0; /* Cambiar a 0 para que ocupe todo el ancho cuando el sidebar está colapsado */
    width: 100%; /* Asegúrate de que el navbar ocupe todo el ancho */
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.navbar-collapse {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.navbar-align {
    margin-left: auto;
}

.sidebar-toggle {
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--text-color);
}
/* Main Content Styles */
.main-content {
    margin-left: var(--sidebar-width);
    padding-top: calc(var(--navbar-height) + 20px); /* Aumentar el padding superior para evitar superposición */
    padding: calc(var(--navbar-height) + 3vh) 10vh 10vh; /* Maneja el margen del home */
    transition: margin-left 0.3s ease-in-out;
    min-height: 100vh;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main-content {
        padding: calc(var(--navbar-height) + 3vh) 1vh 1vh; /* Cambiar el padding para mobile */
    }
}

.main-content-collapsed {
    margin-left: 0;
}

/* Utility Classes */
.align-middle {
    vertical-align: middle;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    background: none;
    border: none;
    padding: 0;
}

.hamburger:before,
.hamburger:after,
.hamburger span {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background: var(--text-color);
    position: absolute;
    left: 0;
}

.hamburger:before {
    top: 6px;
}

.hamburger span {
    top: 11px;
}

.hamburger:after {
    top: 16px;
}

/* Icon and Image Styles */
.feather {
    width: 18px;
    height: 18px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Dropdown Styles */
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: var(--text-color);
    text-align: left;
    list-style: none;
    background-color: var(--navbar-bg);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: var(--text-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

/* Ajustes adicionales */
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.dropdown-menu.show {
    display: block;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}
.dropdown-menu {
    z-index: 1050; /* Asegúrate de que sea mayor que otros elementos */
}

.sidebar.collapsed {
    transform: translateX(-100%); /* Ocultar el sidebar */
}