.text-primary {
    color: #3b7ddd !important;
}

.text-secondary {
    color: #6c757d !important;
}

.text-success {
    color: #1cbb8c !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-warning {
    color: #fcb92c !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-light {
    color: #f5f7fb !important;
}

.text-dark {
    color: #212529 !important;
}

.h1,
h1 {
    font-size: 1.75rem;
}

.h2,
h2 {
    font-size: 1.53125rem;
}

.h3,
h3 {
    font-size: 1.3125rem;
}

.h4,
h4 {
    font-size: 1.09375rem;
}

.h5,
h6,
h5,
h6 {
    font-size: .875rem;
}

.font-monospace {
    font-family: var(--bs-font-monospace) !important;
}

.fw-light {
    font-weight: 300 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-bold {
    font-weight: 600 !important;
}

.text-center {
    text-align: center !important;
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}



/* SIDEBAR */

.sidebar {
    min-width: 264px;
    max-width: 264px;
    background: #222e3c;
    color: #ced4da;
    transition: margin-left .35s ease-in-out;
}

.sidebar-link {
    display: block;
    padding: .625rem 1.625rem;
    color: rgba(233, 236, 239, .5);
    text-decoration: none;
    background: #222e3c;
}

.sidebar-link:hover {
    color: #fff;
    background: #1a202c;
}

.sidebar-item.active>.sidebar-link {
    color: #fff;
    background: #0056b3;
}

.sidebar-user {
    padding: .75rem 1.5rem;
    background: linear-gradient(135deg, #1a202c 0%, #222e3c 100%);
    color: #fff;
}

/* NAVBAR */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .875rem 1.375rem;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: .875rem;
    padding-bottom: .875rem;
    margin-right: 1rem;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: .925rem;
    line-height: 1;
    background-color: initial;
    border: 1px solid transparent;
    border-radius: .2rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .55);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .7);
}

/* Incluye más estilos específicos según sea necesario */
